*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
}


/* ###############     MENU          ########## */



nav {
	background: #13583b;
	height: 80px;
	width: 100%;
  z-index: 9;
}
.logo img {
	width: 80px;
  z-index: 9;
  margin-left: 20px;
}
nav ul {
	float: right;
	margin-right: 20px;
  z-index: 9;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
  text-decoration: none;
}
a.active, a:hover {
	background: #324d28;
	transition: .5s;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
.banner{
  background-image: url('../banner-nana.jpg');
  background-repeat: no-repeat;
  background-size:100%;
  bottom: 0;
  color: black;
  left: 0;
  overflow: auto;
  padding: 3em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  background-size: cover;
  margin-bottom: 30px;
}
.controle-banner{
  position: relative;
  height: 42vw;
}
#logo-banner{
  position: relative;
  left: 30%;
  top: 5%;
  width: 20%;
}
#wpp{
  width: 200px;
  position: fixed;
  bottom: 45px;
  right: 10px;
}
.conteudo{
  text-align: center;
  justify-content: center;
  width: 100%;
}
h1{
  color: #3d5734;
  margin-bottom: 10px;
  font-size: 1.6rem;
  padding: 20px;
}
.maps{
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}
h2{
  font-size: 1.5rem;
  color: #3d5734;
  margin-bottom: 10px;
  padding: 20px;
}
p{
  font-size: 1.2rem;
  color: rgb(82, 70, 70);
  margin-bottom: 10px;
  padding: 20px;
}
#tiposDeAlimentecao{
  width: 75%;
  max-width: 800px;
}
.conteudoFinal{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.row30{
  width: 31%;
  padding: 0.8%;
  text-align: center;
  font-size: 1.3rem;
}
.row30 h3{
  color: #3d5734;
  margin-bottom: 20px;
}
.right{
  float: right;
}
.left{
  float: left;
}
.logoFinal{
  width: 250px;
}
.footer{
  width: 100%;
  height: 60px;
  display:flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;
  color: white;
  background-color: #13583b;
}



form{
  text-align: justify;
  font-size: 1.0rem;
  color: rgb(82, 70, 70);
  width: 100%;
}
input{
  width: 97%;
  margin-top: 3px;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #ccc;
}
#message{
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.required{
  width: 100%;
  font-weight: 600;

}
#submit_button{
  width: 100%;
  margin-top: 10px;
  background-color: #13583b;
  color: white;
  border: none;
  font-weight: 700;
  padding: 10px;
}

/* ############   CONFIGURAÇÕES DA GALERIA   ##################*/

.lbox{
    visibility: hidden;
    opacity: 0;
    display: none;
}
.lbox:target{
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10,10,10,.7);
    position: fixed;
    display: flex;
}
.lbox:target img{
  width: 800px;
}

.min{
    width: 200px;
    height: 150px;
    border-radius: 8px;

}
.box_img{
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.btn{
    color: white;
    font-family: 'Arial';
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}
#prev{
    left: 5%;
    top: 50%;
}
#next{
    right: 5%;
    top: 50%;
}
#close{
    top: 0;
    right: 5%;
}
.box_img img{
    opacity: 0;
    width: 80%;
    display: flex;
    justify-content:center;
    align-items: center;
    align-self: center;
    border-radius: 8px;
}
.lbox:target .box_img img{
    opacity: 1;
    transition: opacity .4s linear;
}
.galeria{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content:center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fotos{
    margin:  10px auto;
    max-width: 80%;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr  / 1fr 1fr 1fr  1fr;
    gap: 20px;
}

/*------------------ MODAL ---------------------------------*/

.modal-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.mostrar {
  display: flex;
}

.modal {
  background: white;
  max-width: 700px;
  padding: 40px;
  border: 10px solid #13583b;
  box-shadow: 0 0 0 10px white;
  position: relative;
  text-align: center;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mostrar .modal {
  animation: modal .3s;
}

.fechar {
  position: absolute;
  font-size: 1.2em;
  top: -30px;
  right: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid white;
  background: #13583b;
  color: white;
  font-family: "PT Mono", monospace;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
}





/* ############   OTIMICAÇÃO PARA CELULARES   ##################*/

@media (max-width: 768px) {
  .controle-banner{
  position: relative;
  height: 52vw;
}
#menu{
    float: right;
    margin-top: 20px;
    margin-right: 1%;
    color: white;
    font-weight: 600;
    font-size: 10px;
}
#logo-banner{
  position: relative;
  left: 45%;
  width: 20%;
}
#tiposDeAlimentecao{
  width: 100%;
}
p{
  font-size: 0.9rem;
}
h1{
  font-size: 1.3rem;
}
h2{
  font-size: 1.2rem;
}
h3{
  font-size: 1.2rem;
}
.right{
  float: none;
}
.row30{
  width: 100%;
}
.conteudoFinal{
  display: block;
}
.footer{
    font-size: 0.8rem;
}



/* ############   CONFIGURAÇÕES DA GALERIA NO CELULAR   ##################*/


.fotos{
    margin:  10px auto;
    max-width: 90%;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr  /  1fr 1fr 1fr;
    gap: 20px;
}

.min{
    width: 100px;
    height: 80px;
}
.box_img img{
    width: 90%;
}
.lbox:target img{
  width: 350px;
}






/* ############   CONFIGURAÇÕES DO MENU NO CELULAR   ##################*/



.checkbtn {
  display: block;
}
ul{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #13583b;
  top: 80px;
  left: -100%;
  text-align: center;
  transition: all .5s;
}
nav ul li{
  display: block;
  margin: 50px 0;
  line-height: 30px;
}
nav ul li a {
  font-size: 20px;
}
a:hover, a.active {
  background: none;
  color: #2a8f0b;
}
#check:checked ~ ul {
  left: 0;
}



.modal {
  width: 60%;
}
}




