*{
    padding: 0;
    margin: 0;
}
.container{
}
.menu-bar{
margin: 0;
height: 90px;
width: 100%;
background-color: #3d5734;
}
.menu-bar a{
text-decoration: none;
color: white;    
}
#menu{
float: right;
margin-top: 10px;
margin-right: 2%;
color: white;
font-weight: 600;
}
.logo{
margin-left: 1%;
margin-top: -7px;
width: 105px;
}
.banner{
  background-image: url('../banner-nana.jpg');
  background-repeat: no-repeat;
  background-size:100%;
  bottom: 0;
  color: black;
  left: 0;
  overflow: auto;
  padding: 3em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  background-size: cover;
  margin-bottom: 30px;
}
.controle-banner{
  position: relative;
  height: 42vw;
}
#logo-banner{
  position: relative;
  left: 30%;
  bottom: 8%;
  width: 30%;
}
#wpp{
  width: 200px;
  position: fixed;
  bottom: 45px;
  right: 10px;
}
.conteudo{
  text-align: center;
  justify-content: center;
  width: 100%;
}
h1{
  color: #3d5734;
  margin-bottom: 10px;
  font-size: 1.6rem;
  padding: 20px;
}
.maps{
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}
h2{
  font-size: 1.5rem;
  color: #3d5734;
  margin-bottom: 10px;
  padding: 20px;
}
p{
  font-size: 1.2rem;
  color: rgb(82, 70, 70);
  margin-bottom: 10px;
  padding: 20px;
}
#tiposDeAlimentecao{
  width: 75%;
  max-width: 800px;
}
.conteudoFinal{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.row30{
  width: 33%;
  text-align: center;
  font-size: 1.3rem;
}
.row30 h3{
  color: #3d5734;
  margin-bottom: 20px;
}
.right{
  float: right;
}
.left{
  float: left;
}
.logoFinal{
  width: 250px;
}
.footer{
  width: 100%;
  height: 60px;
  display:flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;
  color: white;
  background-color: #3d5734;
}



/* ############   CONFIGURAÇÕES DA GALERIA   ##################*/

.lbox{
    visibility: hidden;
    opacity: 0;
    display: none;
}
.lbox:target{
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10,10,10,.7);
    position: fixed;
    display: flex;
}


.min{
    width: 200px;
    border-radius: 8px;

}
.box_img{
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.btn{
    color: white;
    font-family: 'Arial';
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}
#prev{
    left: 5%;
    top: 50%;
}
#next{
    right: 5%;
    top: 50%;
}
#close{
    top: 0;
    right: 5%;
}
.box_img img{
    opacity: 0;
    width: 80%;
    display: flex;
    justify-content:center;
    align-items: center;
    align-self: center;
    border-radius: 8px;
}
.lbox:target .box_img img{
    opacity: 1;
    transition: opacity .4s linear;
}
.galeria{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content:center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fotos{
    margin:  10px auto;
    max-width: 80%;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr  / 1fr 1fr 1fr  1fr;
    gap: 20px;
}




/* ############   OTIMICAÇÃO PARA CELULARES   ##################*/

@media (max-width: 768px) {
  .controle-banner{
  position: relative;
  height: 52vw;
}
#menu{
    float: right;
    margin-top: 38px;
    margin-right: 2%;
    color: white;
    font-weight: 600;
    font-size: 10px;
}
#logo-banner{
  position: relative;
  left: 50%;
  bottom: 45%;
  width: 40%;
}
#tiposDeAlimentecao{
  width: 100%;
}
p{
  font-size: 0.9rem;
}
h1{
  font-size: 1.3rem;
}
h2{
  font-size: 1.2rem;
}
h3{
  font-size: 1.2rem;
}
.right{
  float: none;
}
.row30{
  width: 100%;
}
.conteudoFinal{
  display: block;
}
.footer{
    font-size: 0.8rem;
}



/* ############   CONFIGURAÇÕES DA GALERIA NO CELULAR   ##################*/


.fotos{
    margin:  10px auto;
    max-width: 90%;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr  /  1fr 1fr 1fr;
    gap: 20px;
}

.min{
    width: 100px;
}
.box_img img{
    width: 90%;
}
}
